@font-face {
    font-family: 'Handon3gyeopsal';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Handon3gyeopsal/Handon3gyeopsal300g.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Handon3gyeopsal/Handon3gyeopsal300g.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Handon3gyeopsal/Handon3gyeopsal300g.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Handon3gyeopsal/Handon3gyeopsal300g.ttf') format('truetype');
}
@font-face {
    font-family: 'Handon3gyeopsal';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Handon3gyeopsal/Handon3gyeopsal600g.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Handon3gyeopsal/Handon3gyeopsal600g.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Handon3gyeopsal/Handon3gyeopsal600g.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Handon3gyeopsal/Handon3gyeopsal600g.ttf') format('truetype');
}
